@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap');

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Bai Jamjuree', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: hsl(210, 10%, 33%);
}
.header {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header.container {
    margin: 0 auto;
    width: 80%;
    padding-top: 90px;
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    place-items: center;
    text-align: center;
    grid-gap: 40px;
    padding-bottom: 60px;
}

.buttons-down {
    padding-bottom: 30px;
}

.buttons-down button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 77px;
    border-radius: 30px;
    margin-bottom: 10px;
    color: white;
    font-size: 15px
}

.buttons-down button:first-child {
    background-color: hsl(171, 66%, 44%);
}

.buttons-down button:last-child {
    background-color: hsl(233, 100%, 69%);
}